.carrossel-multi-frame-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 2px solid white;

  .frame-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    &:nth-child(1) {
      position: absolute;
      top: 50%;
      left: -300px;
      transform: translateY(-50%) scale(0.85);
    }

    &:nth-child(2) {
      z-index: 10;
    }

    &:nth-child(3) {
      position: absolute;
      top: 50%;
      right: -300px;
      transform: translateY(-50%) scale(0.85);
    }
  }
}
