@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  font: 100%/1.2 'Poppins', sans-serif;
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

